canvas{
width: 100%;
height: 100%;
display:block;
vertical-align:bottom;
}

#particles-js{
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(0,212,255,1) 100%);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}